@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click the image below to locate "the one"</p>
    <p>Or <a asp-controller="Agent" asp-action="View">view agents</a></p>
    <a asp-controller="Inhabitant" asp-action="Search">
        <img src="/images/home.jpg" class="img-fluid"/>
    </a>
</div>