@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You have no rights to privacy whatsoever and the fact you're even asking probably means you ARE the one! So there...</p>
