@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click the image below to locate "the one"</p>

    <a asp-controller="Person" asp-action="List">
        <img src="/images/home.jpg" class="img-fluid"/>
    </a>
</div>